
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 100px 0;
}

.gallery-item {
  list-style: none;
}

.gallery-item img {
    width: 360px;
    height: 300px;
    object-fit: cover;
  }